/* Define font variable */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Define color variables */
:root {
  --font-color: black;
  --background-color: #eeeeee;
  --completed-font-color: #838788;

  /* Define width variables for different screen sizes */
  --todo-width-desktop: 33.33%;
  --todo-width-tablet: 50%;
  --todo-width-mobile: 80%;
}

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
}

/* Body styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 10px;
  font-size: 1.25rem;
}

/* Todo component styles */
.todo-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* Apply width variables for different screen sizes */

.todo-component > * {
  width: var(--todo-width-desktop);
}

@media only screen and (max-width: 1300px) {
  .todo-component > * {
    width: var(--todo-width-tablet);
  }
}

@media only screen and (max-width: 750px) {
  .todo-component > * {
    width: var(--todo-width-mobile);
  }
}

@media only screen and (max-width: 500px) {
  .todo-component > * {
    width: 100%;
  }
}

/* Create Todo styles */
.todo-create {
  overflow: hidden;
  padding: 0.5rem;
  padding-bottom: 0;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1px;
}

.todo-create-form-top,
.edit-modal-top {
  display: grid;
  grid-template-columns: min-content 5fr;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.todo-create-form-top input,
.edit-modal-top input {
  border: none;
  border-bottom: 1px solid rgb(153, 153, 153);
  font-size: 1rem;
  padding: 0.5rem;
}

.todo-create-form-bottom,
.edit-modal-bottom {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 0.5rem;
  font-size: 0.8rem;
  transition: height 0.3s ease;
  height: 0;
}

.todo-component button {
  aspect-ratio: 1/1;
}

.todo-create textarea,
.edit-modal textarea {
  padding: 0.5rem;
}

/* List of todos styles */
.todo-lists {
  display: grid;
}

.incomplete-todo-list {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  z-index: 1;
}

/* Todo object styles */
.todo {
  display: grid;
  grid-template-columns: 44px 1fr max-content;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  gap: 0.3rem;
  padding: 1rem;
  min-height: 4.7rem;
}

.todo button {
  background: none;
  border: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 1.8rem;
  justify-self: center;
  align-self: center;
}

.edit-todo-button {
  width: 1rem;
  margin-left: 0.5rem;
}

.todo-date {
  font-size: 0.9rem;
  align-self: center;
}

.todo-description {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.95rem;
}

.todo-title {
  max-width: 20ch;
  overflow-wrap: break-word;
}

.complete {
  color: var(--completed-font-color);
  background-color: #f7f7f7;
}

.incomplete {
  background-color: white;
}

/* Edit Todo Modal */
.edit-modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.edit-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.edit-modal-bottom {
  height: auto;
}
