/* Define font variable */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Define color variables */
:root {
  --font-color: black;
  --background-color: #eeeeee;
  --completed-font-color: #838788;

  /* Define width variables for different screen sizes */
  --todo-width-desktop: 33.33%;
  --todo-width-tablet: 50%;
  --todo-width-mobile: 80%;
}

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

/* Body styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: 1.25rem;
  overflow-x: hidden;
}

/* Todo component styles */
#todo-list-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* Apply width variables for different screen sizes */

.todo-create,
.todo-lists,
.todo-list-header,
.edit-modal-content {
  width: var(--todo-width-desktop);
}

@media only screen and (max-width: 1300px) {
  .todo-create,
  .todo-lists,
  .todo-list-header,
  .edit-modal-content {
    width: var(--todo-width-tablet);
  }
}

@media only screen and (max-width: 750px) {
  .todo-create,
  .todo-lists,
  .todo-list-header,
  .edit-modal-content {
    width: var(--todo-width-mobile);
  }
}

@media only screen and (max-width: 500px) {
  .todo-create,
  .todo-lists,
  .todo-list-header,
  .edit-modal-content {
    width: 100%;
  }
}

/* Create Todo styles */
.todo-create {
  overflow: hidden;
  padding: 0.5rem;
  padding-bottom: 0;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1px;
}

.todo-create-form-top,
.edit-modal-top {
  display: grid;
  grid-template-columns: max-content 5fr;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.todo-create-form-top input,
.edit-modal-top input,
.collection-list-add input {
  border: none;
  border-bottom: 1px solid rgb(153, 153, 153);
  font-size: 1rem;
  padding: 0.2rem;
  padding-bottom: 0;
}

.todo-create-form-top input:focus,
.edit-modal-top input:focus,
.collection-list-add input:focus {
  outline: 0;
  border-bottom: 2px solid #2596be;
}

.todo-create-form-bottom,
.edit-modal-bottom {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 0.5rem;
  font-size: 0.8rem;
  transition: height 0.2s ease;
  height: 0;
}

.todo-create-form-top button,
.edit-modal-top button,
.todo button,
.edit-modal-content > button,
.collection-list-add button {
  justify-self: center;
  align-self: center;
  background: none;
  border: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 1.8rem;
  padding: 1px;
  transition: padding ease-in-out;
  background-origin: content-box;
  aspect-ratio: 1/1;
}

.todo-create-form-top button {
  width: 2.2rem;
}

.todo-create-form-top button:active,
.edit-modal-top button:active,
.todo button:active,
.edit-modal-content > button:active,
.collection-list-add > button:active {
  padding: 3px;
  transition-duration: 0.05s;
}

.todo-create textarea,
.edit-modal textarea {
  padding: 0.5rem;
}

/* List of todos styles */
.todo-lists {
  display: grid;
}

.incomplete-todo-list {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  z-index: 1;
}

/* Todo object styles */
.todo {
  display: grid;
  grid-template-columns: 44px 1fr max-content;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  gap: 0.3rem;
  padding: 1rem;
  min-height: 4.7rem;
}

.edit-todo-button {
  width: 1rem;
  margin-left: 0.5rem;
}

.todo-date {
  font-size: 0.9rem;
  align-self: center;
}

.todo-description {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.95rem;
}

.todo-title {
  max-width: 20ch;
  overflow-wrap: break-word;
}

.complete {
  color: var(--completed-font-color);
  background-color: #f7f7f7;
}

.incomplete {
  background-color: white;
}

/* Edit Todo Modal */
.edit-modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.edit-modal-content {
  position: relative;
  display: grid;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
}

.edit-modal-bottom {
  height: auto;
}

.edit-modal-content > button {
  position: absolute;
  top: 5%;
  left: 92%;
  width: 1.5rem;
}

/* Collection Component */

/* This component is a modified version of Erik Terwan's 'Pure CSS Hamburger fold-out menu' 
* https://codepen.io/erikterwan/details/EVzeRP
*/

#collection-component {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 3;

  -webkit-user-select: none;
  user-select: none;
}

.menu-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 14%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.55s ease;
}

#collection-component > input:checked ~ .menu-overlay {
  visibility: visible;
  opacity: 0.315;
}

#collection-component > input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#collection-component span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#collection-component > span:nth-child(2) {
  transform-origin: 0% 0%;
}

#collection-component > span:nth-child(4) {
  transform-origin: 0% 100%;
}

#collection-component > input:checked ~ span {
  opacity: 1;
  transform: rotate(40deg) translate(-2px, -1px);
  background: #232323;
}

#collection-component > input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#collection-component > input:checked ~ span:nth-child(4) {
  opacity: 1;
  transform: rotate(-40deg) translate(0, -1px);
}

.collection-menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ffffff;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);

  border-bottom-right-radius: 10px;
  box-shadow: rgb(0, 0, 0) 0px 1px 2px 0px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#collection-component > input:checked ~ .collection-menu {
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .collection-menu {
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #collection-component {
    top: 33px;
    left: 20px;
  }

  h1 {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: right;
  }

  .collection-menu {
    width: 100%;
    margin: -100px 0 0 -20px;
  }
}

.collection-menu > h2 {
  text-align: center;
}

.collection-list-add {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.collection-list-add button {
  width: 2rem;
  text-align: right;
}

.collection-list-add input {
  font-size: 1.5rem;
  width: 100%;
}

.collection-list-container button {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
}
