@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --font-color: black;
  --background-colour: #eeeeee;
  --completed-font-color: #838788;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-colour);
  color: var(--font-color);
  padding: 10px;
  font-size: 1.25rem;
}

/* Todo component */

.todo-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.todo-component > * {
  width: 33.33%;
}

/* Create Todo */

.todo-create {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  gap: 1rem;
  padding: 0.5rem;
  padding-left: 3rem;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1px;
}

.todo-create > input {
  border: none;
  font-size: 1rem;
}
.todo-create > button {
  aspect-ratio: 1/1;
}

/* List of todos */

.todo-lists {
  display: grid;
}

.incomplete-todo-list {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  z-index: 1;
}

.todo {
  display: grid;
  grid-template-columns: min-content 1fr 4ch min-content;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  gap: 1rem;
  padding: 1rem;
  min-height: 4.7rem;
}

.todo-date {
  font-size: 0.9rem;
  align-self: center;
}

.todo-description {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.95rem;
}

.todo-title {
  max-width: 20ch;
  overflow-wrap: break-word;
}

.complete {
  color: var(--completed-font-color);
  background-color: #f7f7f7;
}

.incomplete {
  background-color: white;
}
